body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    /* Initial text color */
    transition: color 0.3s ease;
    /* Smooth transition for text color */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    width: 100vw;
}

header {
    position: fixed;
    width: 100%;
    background: transparent;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 1rem 1rem 1rem #8080801a;
    background-color: #fff;
}

section {
    height: 100vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section h2 {
    font-size: 2rem;
}

#about {
    flex-direction: column;
    text-align: center;
}

.about-container,
.technologies-container,
.portfolio-section,
.appendages-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 12vh);
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0rem 1rem;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0rem 0.5rem;
}

.about-container>div:first-child {
    grid-row: 2 / 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h1 {
    font-size: 3rem;
}

.about-container>div:nth-child(2) {
    grid-column: 2;
    grid-row: 4;
    /* border: 1px solid grey; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.divider-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    background-color: black;
    margin: 0rem 0.5rem;
}

.about-container>div:nth-child(3) {
    grid-column: 4 / 8;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.about-container>div:nth-child(4) {
    grid-column: 4 / 8;
    grid-row: 4 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.about-container p {
    font-size: 2rem;
}

.technologies-container>div:first-child {
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex;
}

.technologies-container>div:nth-child(2) {
    grid-column: 2 / 8;
    grid-row: 4 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-tag {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px solid black;
    margin: 0.5rem 1.5rem;
    position: relative;
}

.tech-tag>span {
    position: absolute;
    top: -1rem;
    right: 0.25rem;
    background-color: white;
    padding: 0.25rem;
    border-radius: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-section>div:first-child {
    grid-column: 2 / 4;
    grid-row: 2;
    display: flex;
}

.portfolio-section>div:nth-child(2) {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    display: flex;
    align-items: center;
}

.portfolio-section>div:nth-child(3) {
    grid-column: 2 / 8;
    display: flex;
    grid-row: 4 / 6;
    align-items: center;
}

.portfolio-section>div:nth-child(4) {
    grid-column: 2 / 8;
    grid-row: 6 / 8;
    display: flex;
    align-items: center;
}

.portfolio-section>div>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    margin-right: 1.5rem;
    padding-left: 4rem;
}

.profile-section {
    margin-right: 20px;
}

.profile-pic {
    border-radius: 50%;
    border: 3px solid white;
    /* Border color for the photo */
    width: 18rem;
    /* Adjust width as necessary */
    height: 18rem;
    /* Adjust height as necessary */
    object-fit: cover;
    margin-top: 20px;
    /* Move the image up */
}

.bio {
    padding: 20px;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted #80808040;
}

.links a {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    color: inherit;
}

/* Additional styles for the portfolio section and other sections */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-thumbnail {
    height: 12rem;
    width: 17rem;
    border: 1px solid #80808080;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 4rem;
    cursor: pointer;
    transition: 1s all;
}

.project-thumbnail:hover {
    transform: scale(1.1) rotate(0deg) !important;
}

.project-thumbnail img {
    height: 72%;
    width: 72%;
    border-radius: 0.25rem;
}

.project-thumbnail h4 {
    text-align: center;
    font-size: 1.5rem;
    min-height: 50%;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.project-drawer {
    transition: 1s width;
    border: 1px solid #0000001c;
    height: 100vh;
    position: fixed;
    z-index: 12;
    background-color: white;
    right: 0rem;
    top: 0rem;
    overflow: hidden;
}

.project-drawer.closed {
    width: 0rem;
    border-width: 0rem;
}

.project-drawer.open {
    width: 100vw;
    border-width: 1px;
}

.project-drawer>span {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    border: 1px solid #80808080;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    cursor: pointer;
}

.project-drawer>span::after {
    content: "\00d7";
    font-size: 2.5rem;
    color: #808080;
}

.portfolio-section>div>div>h3 {
    font-size: 1.5rem;
}

.project-drawer-content-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-drawer-content-container p {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.project-drawer-content-container h2 {
    font-size: 3rem;
}

.project-drawer-content-container .technologies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.carousel-modal {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* position: relative; */
    /* min-height: 36vh; */
    min-height: 18vh;
    max-height: 54vh;
    
}

.carousel-image {
    min-width: 100%;
    height: auto;
    display: block;
    transition: all 0.5s ease-in-out;
    position: relative;
    width: 100%;
    min-height: 18vh;
    max-height: 54vh;
    object-fit: contain;

}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-nav.prev {
    left: 10px;
}

.carousel-nav.next {
    right: 10px;
}

.carousel-nav:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.appendages-section>div {
    overflow-y: scroll;

    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.appendages-section>div::-webkit-scrollbar {
    display: none;
}

.appendages-section>div:first-child {
    grid-column: 2 / 4;
    grid-row: 2;
    display: flex;
    padding: 1rem;
}

.appendages-section>div:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 3 / 6;
    border: 1px dashed #808080;
    border-radius: 1rem;
    padding: 1rem;
}

.appendages-section>div:nth-child(3) {
    grid-column: 6 / 8;
    grid-row: 3 / 6;
    border: 1px dashed #808080;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.appendages-section>div:nth-child(4) {
    grid-column: 2 / 8;
    grid-row: 7 / 9;
    border: 1px dashed #808080;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.appendages-section>div:nth-child(4) p {
    margin: unset;
    text-align: center;
}

.appendages-section>div span {
    font-size: 1.5rem;
}

.appendages-section>div .divider-dot {
    margin: 0.5rem auto;
}

.appendages-section>div bold {
    font-weight: 600;
}

.passion {
    border: 1px solid #80808040;
    margin: 0.25rem;
    border-radius: 0.5rem;
    transition: 1s all;
    cursor: pointer;
}

.passion>span:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 4rem;
}

.passion.closed {
    height: 4rem;
}

.passion.open {
    height: 12rem;
    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.passion.open::-webkit-scrollbar {
    display: none;
}

.passion.closed>span:first-child {
    height: 100%;
}

.passion h3 {
    margin: 0rem;
    height: 2rem;
    font-size: 1.25rem;
}

.passion>span span {
    height: 1rem;
    transition: 1s all;
}

.passion.open>span span {
    transform: rotate(180deg);
}

.passion.open>span:last-child {
    padding-bottom: 1rem;
}

.passion.open .passion-content {
    display: visible;
    padding: 0.25rem 0.5rem;
}

.passion.closed .passion-content {
    display: none;
}

.passion-content p {
    margin: unset;
    text-align: justify;
    width: 90%;
    margin: auto;
}

.nav-menu {
    display: none;
    width: 5rem;
    height: 3rem;
    border: 1px solid grey;
    margin-right: 2rem;
}

.nav-menu span {
    border-bottom: 0.18rem solid #80808080;
    height: 0rem;
    margin: 0.25rem auto;
    width: 72%;
}

@media only screen and (max-width: 600px) {
    html {
        width: 100vw;
        overflow-x: hidden;
    }

    header {
        max-height: 3rem;
    }

    html,
    body {
        font-size: 12px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border-radius: 0.25rem;

    }

    nav {
        display: none;
        height: 0rem;
        transition: 0.5s all;
        bottom: 0rem;
        left: 0rem;
        background: white;
        height: 20rem;
        height: calc(100vh - 5rem);
        width: 100vw;
    }

    nav.open {
        display: flex;
        flex-direction: column;
        position: fixed;

    }

    nav.open a {
        width: 100%;
        padding: 2rem 1rem;
        text-decoration: underline;
    }

    nav .divider-dot {
        display: none;
    }

    section h2 {
        font-size: 2rem;
    }

    .profile-pic {
        width: 12rem;
        height: 12rem;
        margin-top: unset;
    }

    .about-container p {
        font-size: 1.25rem;
    }

    section .about-container h2 {
        font-size: 1.5rem;
    }

    section .about-container h2 .divider-dot {
        margin: 1rem 0.5rem;
    }

    .about-container h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .about-container h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0.25rem 0rem;
        font-weight: 500;

    }

    .about-container>div:first-child {
        grid-row: 2;
        grid-column: 2/8;
    }

    .about-container h1 {
        font-size: 3rem;
        margin: 0.5rem 0rem;
    }

    .about-container>div:nth-child(2) {
        grid-row: 8;
        grid-column: 2/8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .divider-dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background-color: black;
        margin: 0rem 0.5rem;
    }

    .about-container>div:nth-child(3) {
        grid-column: 2/8;
        grid-row: 3;
    }

    .about-container>div:nth-child(4) {
        grid-column: 2/8;
        grid-row: 4 / 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .links a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .technologies-container>div:first-child {
        grid-column: 2 / 8;
        grid-row: 1;

        /* display: flex; */
    }

    .technologies-container>div:nth-child(2) {
        grid-column: 2 / 8;
        grid-row: 2 / 9;
        overflow-y: scroll;
        /* hide scrollbar */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .technologies-container>div:nth-child(2)::-webkit-scrollbar {
        display: none;
    }

    .tech-tag {
        font-size: 1.125rem;
        margin: 0.125rem 0.25rem;
        border-width: 1px;
    }

    .appendages-section h3 {
        margin: 0.5rem 0rem;
    }

    .appendages-section>div {
        overflow-y: scroll;
        /* hide scrollbar */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .appendages-section>div::-webkit-scrollbar {
        display: none;
    }

    .appendages-section>div:first-child {
        grid-column: 1 / 9;
        grid-row: 1;
        margin: 0.5rem 1rem;
    }

    .appendages-section>div:nth-child(2) {
        grid-column: 1 / 9;
        grid-row: 2 / 4;
        margin: 0.5rem 1rem;
    }

    .appendages-section>div:nth-child(3) {
        grid-column: 1 / 9;
        grid-row: 4 / 7;
        margin: 0.5rem 1rem;
    }

    .appendages-section>div:nth-child(4) {
        grid-column: 1 / 9;
        grid-row: 7 / 9;
        margin: 0.5rem 1rem;
    }

    .passion.open {
        height: unset;
    }

    .portfolio-section {
        overflow: hidden;
    }

    .portfolio-section>div {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .portfolio-section>div:first-child {
        grid-row: 1;

    }

    .portfolio-section>div:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 9;
    }

    .portfolio-section>div:nth-child(3) {
        grid-column: 4 / 6;
        grid-row: 2 / 9;
    }

    .portfolio-section>div:nth-child(4) {
        grid-column: 7 / 9;
        grid-row: 2 / 9;
        margin-right: 1rem;
    }

    .project-thumbnail {
        width: 7rem;
        margin: 2rem 0.72rem;
        height: 10rem;
    }

    .project-thumbnail h4 {
        margin: 1rem 0rem;
        max-height: 100%;
        overflow: hidden;
        max-width: 110%;
        font-size: 1.1rem;
    }

    .portfolio-section h3 {
        text-decoration: underline;
        font-size: 1.25rem;
    }

    .carousel-modal, .carousel-content {
        max-height: 54vh;
    }
    .carousel-modal {
        margin-top: 2rem;
    }

    .carousel-image {
        object-fit: contain;
    }

    .project-drawer-content-container p {
        max-height: 36vh;
        overflow-y: scroll;
        margin-top: 1rem;
    }

    .project-drawer-content-container h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0rem;
        max-width: 72vw;
    }
    

    /* .carousel-modal {
        max-width: 72vw;
        margin: 1rem auto;
    }

    .carousel-content {
        display: flex;
        justify-content: center;
        max-width: 72vw;
    }

    .carousel-image {
        max-height: 50vh;
        /* min-width: unset; */
    /* }  */

}